<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About Enstructo")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About Us")}</%block>
        </h1>
        <%block name="pagecontent">
          <p class="about-block">
            We are trusted technology partners to Australia's leading property portfolios. We are passionate about delivering outcomes and long-term value for building owners, managers and their occupants.
          </p>
          <hr class="rule" />
          <p class="about-block">
            With a nationwide footprint of 19 branches, our clients are supported by a workforce of over 800 employees which include specialist engineers, technicians, project managers, estimators, site personnel, and service specialists.
          </p>
          <hr class="rule" />
          <p class="about-block">
            We are proud corporate partners of Tranby National Indigenous Adult Education and Training (Tranby). Tranby, is Australia’s longest running Aboriginal-controlled nationally registered training organisation (RTO), offering units of competency, full VET qualifications, and non-accredited skill development initiatives to Indigenous adults from across Australia. Tranby seeks to EDUCATE, ACHIEVE and EMPOWER their students and for over 60 years, they have seen graduates return to their communities empowered with newfound skills.
          </p>
          <hr class="rule" />
          <p class="about-block">
            Grosvenor are members of Supply Nation. Supply Nation works to connect over 1900 verified Indigenous businesses, along with procurement teams from government and the corporate community to help shape the Indigenous business sector. Supplier diversity is a growing movement in Australia and Grosvenor are committed to creating a more inclusive economy.
          </p>
          <hr class="rule" />
          <p class="about-block">
            We have robust systems in place to deliver on the promise. We keep up to date with industries best practice to ensure we are giving you quality outcomes. Our Quality, Safety & Environment Systems, are certified to stringent JAS-ANZ standards.
          </p>
        </%block>
    </section>
</main>
