// ------------------------------
// Open edX Certificates: Overrides
// #CERTIFICATE
// ------------------------------
// certficate - default
.certificate {
  .accomplishment-rendering {

    // decorative corners for certs
    .deco-corner {
      position: absolute;
    }

    .deco-corner-tl {
      @include triangle(20px, $cert-base-color, up-right);

      top: 0;
      right: 0;
    }

    .deco-corner-tr {
      @include triangle(20px, $cert-base-color, up-left);

      top: 0;
      left: 0;
    }

    .deco-corner-bl {
      @include triangle(20px, $cert-base-color, down-right);

      bottom: 0;
      right: 0;
    }

    .deco-corner-br {
      @include triangle(20px, $cert-base-color, down-left);

      bottom: 0;
      left: 0;
    }

    .accomplishment-type-label {
      color: $cert-base-color;
    }

    .accomplishment-signatories-title,
    .accomplishment-orgs-title {
      color: $cert-decorative-color;
    }

    .wrapper-statement-and-signatories {
      width: 100%;
    }

    // statement
    .accomplishment-statement,
    .accomplishment-statement-lead,
    .accomplishment-recipient,
    .accomplishment-course {
      font-family: $font-family-serif;
    }

    .accomplishment-recipient,
    .accomplishment-course {
      letter-spacing: rem(1);
    }
  }
}

// certificate - base + honor
.layout-accomplishment.certificate-honor {
  .introduction {
    margin-bottom: 0;
  }

  .accomplishment-main {
    background: $gray-x-back;
  }

  .accomplishment-rendering {
    .accomplishment-type {
      margin-top: 0;
    }

    // hide the fancy
    .accomplishment-signatories .signatory-signature,
    .accomplishment-type-symbol {
      display: block;
    }
  }
}

// certificate - distinguished + verified
.layout-accomplishment.certificate-verified {
  .introduction {
    margin-bottom: map-get($spacing-vertical, base);
  }

  .accomplishment-main {
    background: $primary-back;
  }

  .accomplishment-rendering {
    background: $white url('../images/bg-verified.png') center no-repeat;
    background-size: 65%;

    .deco-corner-tl {
      @include triangle(20px, $cert-distinguished-color, up-right);
    }

    .deco-corner-tr {
      @include triangle(20px, $cert-distinguished-color, up-left);
    }

    .deco-corner-bl {
      @include triangle(20px, $cert-distinguished-color, down-right);
    }

    .deco-corner-br {
      @include triangle(20px, $cert-distinguished-color, down-left);
    }
  }

  .accomplishment-rendering {
    border-color: $cert-distinguished-color;

    .accomplishment-type-label {
      color: $cert-distinguished-color;
    }
  }
}

// ------------------------------
// #FOOTER
// ------------------------------
.footer-app {
  border-top: rem(4) solid $gray-x-back;
  padding-top: map-get($spacing-vertical, base);
}

.footer-app-nav {
  .list {
    padding: 0;
  }
}

// ------------------------------
// #BADGES MODAL
// ------------------------------
.badges-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $gray-transparent; /* dim the background */
  width: 100%;
  height: 100%;
  vertical-align: middle;

  .badges-modal {
    @extend %copy-large;

    box-sizing: content-box;
    position: fixed;
    top: map-get($spacing-vertical, large);
    right: 0;
    left: 0;
    z-index: 1000;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-top: rem(10) solid $primary-back;
    background: $gray-x-back;
    padding-right: map-get($spacing-horizontal, large);
    padding-left: map-get($spacing-horizontal, large);
    overflow-x: hidden;
    color: $gray-dark;

    .close {
      position: absolute;
      right: map-get($spacing-horizontal, mid-small);
      top: map-get($spacing-vertical, small);
      font-weight: 700;
      cursor: pointer;
    }

    .badges-steps {
      display: table;

      a {
        @extend %link;
      }
    }

    .image-container {
      // Lines the image up with the content of the above list.
      @include ltr {
        @include padding-left(2em);
      }

      @include rtl {
        @include padding-right(1em);

        float: right;
      }
    }

    .backpack-logo {
      @include float(right);
      @include margin-left(map-get($spacing-horizontal, small));
    }
  }
}

.modal-hr {
  display: block;
  border: none;
  background-color: $gray-back;
  height: rem(2);
  width: 100%;
}
// About: Additional sass rules that must come at the end of the compilation for overriding purposes - either for temporary/specific developer styling needs or for known poorly scoped/written styling (aka shame CSS).

// #TEMP
// #DEVELOPERS
// #SHAME

// ------------------------------
// #TEMP
// ------------------------------

// ------------------------------
// #DEVELOPERS
// ------------------------------

// ------------------------------
// #SHAME
// ------------------------------

